openai
requests
python-dotenv
google-auth-oauthlib
google-api-python-client
pydub
tqdm
PySimpleGUI>=4.60.0 --extra-index-url https://PySimpleGUI.net/install
pycryptodome
pillow
pyinstaller
sentence-transformers
